body {
    color: rgba(70, 166, 75, 0.849);
}

.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -6px 8px 25px 0px rgba(70, 166, 75, 0.75);
    -webkit-box-shadow: -6px 8px 25px 0px rgba(70, 166, 75, 0.75);
    -moz-box-shadow: -6px 8px 25px 0px rgba(70, 166, 75, 0.75);
    width: 60%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

form {
    margin: 1rem 0;
    width: 100%;
}

h4 {
    margin: 0;
    text-align: left;
}

input {
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type='email'],
input[type='number'],
input[type='tel'] {
    width: 98%;
}

input:hover {
    border: 1px solid rgb(70, 166, 75);
    box-shadow: 0px 5px 23px -2px rgba(46, 179, 27, 0.75);
    -webkit-box-shadow: 0px -8px 23px -2px rgba(46, 179, 27, 0.75);
    -moz-box-shadow: 0px -8px 23px -2px rgba(46, 179, 27, 0.75);
}
img {
    width: 100%;
    border-radius: 5px;
}

.userName {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    flex-wrap: wrap;
}

.userName input {
    width: 48%;
}

.languageSelection {
}

.addressUserInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addressUserInfo input,
.addressUserInfo select {
    width: 48%;
}

.moreInformation {
}

.button-container {
}

textarea {
    width: 100%;
    height: 8rem;
}
textarea:hover {
    box-shadow: 0px 5px 23px -2px rgba(46, 179, 27, 0.75);
    -webkit-box-shadow: 0px -8px 23px -2px rgba(46, 179, 27, 0.75);
    -moz-box-shadow: 0px -8px 23px -2px rgba(46, 179, 27, 0.75);
}

select {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
}

.submit-button {
    background-color: rgba(70, 166, 75, 0.8);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 0.3rem;
}

.submit-button:hover {
    background-color: rgba(70, 166, 75);
}

#map {
    width: 100%;
    height: 20rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
